*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Home Page  */

.Home{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 200px ;
  height: 100vh;
}
.ontheway{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

/* Login Page */

.login-page {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 94vh;
}

.left-side {
  width: calc(58%);
  height: 100.5vh;
  /* padding: 20px; */
  background-color: #ffcd39;
  
  
}

.greeting {
  font-size: 24px;
  color: black;
  margin-top: 300px;
  /* margin-left: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;


}



.greeting-text {
  font-size: 18px;
  color: black;
  margin-left: 10px;
  
}

.right-side {
  /* height: 100vh; */
  width: 50%;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #333;
}

.inputText,
.inputpassword {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.inputText:focus,
.inputpassword:focus {
  outline: none;
  border-color: #666;
}

.buttonsubmit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonsubmit:hover {
  background-color:#333;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.cred {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#signinbtn {
  margin-left: 10px;
}



/* Signup Page */

.signup-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94vh;
}

.left-side1 {
  height: 87vh;
  padding: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  
}

.right-side1 {
  width: calc(52%);
  height: 100.5vh;
  background-color: #ffcd39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.label {
  font-weight: bold;
  color: #333;
}

.inputText {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.inputText:focus {
  outline: none;
  border-color: #666;
}

.button-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-submit:hover {
  background-color:#333;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.greeting1 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.greeting-text1 {
  font-size: 18px;
  color: black;
}



/* NavBar */ 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  padding: 10px;
  z-index: 1000;
  width: 100%;
  position: fixed;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar h1 {
  margin-left: 5px;
  color: white;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
}


/* Logout */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  margin-left: 15px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  left: 50%; /* Change right: 0% to left: 50% */
  transform: translateX(-25%); /* Center the text horizontally */
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}







/* Login button */
.btn-2 {
  --color: #ffcd39;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  border: none;
  background-color: transparent;
  margin-right: 5px; /* Add margin-right to create space between buttons */
}

.btn-2 div {
  letter-spacing: 1px;
  font-weight: bold;
  background: var(--color);
  border-radius: 1rem;
  color: black; /* Change text color to black */
  padding: 0.6rem 1.2rem; /* Match the padding of the Sign up button */
  font-size: 0.8rem; /* Match the font size of the Sign up button */
}

.btn-2::before {
  content: '';
  z-index: -1;
  background-color: var(--color);
  /* Remove white border */
  border-radius: 1rem;
  width: 110%;
  height: 100%;
  position: absolute;
  transform: rotate(10deg);
  transition: .5s;
  opacity: 0.2;
}

.btn-2:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.1);
}

.btn-2:hover::before {
  transform: rotate(0deg);
  opacity: 1;
}

.btn-2 svg path {
  stroke: black; /* Change the color of the arrow to black */
}

.btn-2 svg {
  transform: translateX(-200%);
  transition: .5s;
  width: 0;
  opacity: 0;
}

.btn-2:hover svg {
  width: 18px;
  transform: translateX(0%);
  opacity: 1;
}

.btn-2:active {
  filter: brightness(1.4);
}

/* Update and edit */

.form-container {
  width: 500px;
  margin: 20px;
  margin-left: 500px;
  margin-top: 70px;
  background-color: #fff;
  padding: 20px;
  font-size: large;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  
}


/* Update and New Data components */

.form-container {
  width: 500px;
  margin: 20px;
  margin-left: 500px;
  margin-top: 70px;
  background-color: #fff;
  padding: 20px;
  font-size: large;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  display: flex;
}

input {
  width: calc(50% - 10px);
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 20px;
}

input[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100px;
  margin-left: 200px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffbe98;
  color: black;
  border: 2px solid black;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  width: 150px;
  padding: 5px;
}

/* google signin option  */

.cred{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.footer {
  background-color: #333;
  color: #fff;
  
  padding: 50px 0px;
  text-align: center; /* Center align text */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 15px;

}

.footer a {
  display: inline-block; 
  margin: 0 10px; 
}

.footer a img {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
}

.footer a:hover {
  opacity: 0.8;
}
.container{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.container a{
  text-decoration: none;
  color: white;
}
#linked{
  width: 50px;
  height: 50px;
}

.container p{
  display: flex;
  align-items: center;
}

.foot_tbs{
  width: 33%;
}